#stop {
	display: none;
}

#slider { 
	margin: 10px; 
}

.dial_box {
	width:100px;
  height: 340px;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 0px 10px 10px 0px;
	float:left;
}

#keyboard_control {
  clear:both;
  padding: 10px;
  width: 232px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#keyboard_control #label {
  color: #ccc;
  margin-right: 20px;
}

#keyboard {
	clear:both;
}