#stop {
	display: none;
}

#slider { 
	margin: 10px; 
}

.dial_box {
	width:100px;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 0px 10px 10px 0px;
	float:left;
}

#keyboard {
	clear:both;
}