body {
  background-image: url('../images/subtle_dots.png');
  padding: 0px;
  margin: 0px;
}

#logo {
  margin: 0px 0px -15px 0px;
}

p {
  color: #ccc;
  font-size: 21px;
}

body {
  font-family: Helvetica, Arial, Sans-serif;
}

a {
  text-decoration: none;
  color: #87ceeb;
}

a:hover {
  text-decoration: underline;
}


#synth_wrapper {
  width:910px;
  padding: 25px 100px 30px 100px;
  background-color: #fff;
  overflow: auto;
  margin: -3px auto -3px auto;
  border: 3px solid #eee;
}

.dial_box {
	width:100px;
  height: 355px;
	padding: 0px 10px;
	border: 2px solid #eee;
	text-align: center;
	margin: 0px 5px 5px 0px;
	float:left;
  color: #666;
}

#keyboard_control {
  clear:both;
  padding: 10px;
  width: 358px;
  margin-bottom: 5px;
  border: 2px solid #eee;
}

#keyboard_control #label {
  color: #ddd;
  margin-right: 20px;
}

#keyboard {
  margin: 0px auto;
	clear:both;
  overflow: auto;
}

#footer {
  clear:both;
  background-color: #eee;
  color: #ccc;
  padding: 10px;
  text-align: center;
}